// @font-face {
//     font-family: 'TD Mars';
//     src: url('./assets/fonts/TD\ Mars.otf') format('opentype');
    
// }

// @font-face {
//     font-family: "Lozung Caps Black";
//     src: url(./assets/fonts/Lozung\ Caps\ Black.otf);
// }

@font-face {
    font-family: 'Rostov';
    src: url(./assets/fonts/Rostov.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    
    background-color: #fff;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    width: 100%;



    .wrapper {
        width: 85%;
        margin: 0 auto;
        .headerContainer {
            margin-top: 43px;
            display: flex;
            justify-content: space-between;
    
            
            // background-color: #d40000;
            .headerLogo {
                width: 10%;
                height: 10%;
            }
            .testBlock {
                // background-color: #d40000;
            }
        }

        .mainContainer {
            .promoBlock{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bigText{
                    line-height: 200px;
                    font-family: "Montserrat";
                    margin-top: 80px;
                    font-size: 200px;
                    color: #fff;
                    font-weight: 500;
                    :nth-child(2){
                        margin-left: 134px;
                    }
                }
                .smallText {
                    font-family: "Poiret One", sans-serif;
                    // border: 1px solid #d40000;
                    width: 245px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #FEF3F3;
                }
            }

            .wrapPhoto {
                margin-top: 100px;
                display: flex;
                justify-content: center;

                .mainPhoto {
                    // width: 20%;
                    // height: 20%;
                }
            }

            .subHero {
                font-family: "Poiret One", sans-serif;
                margin: 140px auto 0;
                text-align: center;
                // width: 80%;
                font-size: 38px;
                line-height: 47px;
                letter-spacing: 1%;
                color: #000;
                font-weight: 400;
                :first-child{
                    margin-bottom: 24px;
                    text-align: start;
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    }

    .ourService {
        font-family: "Poiret One", sans-serif;
        background-color: #000;
        color: #fff;
        .serviceContainer {
            margin-top: 118px;
            padding-top: 140px;
            .serviceCaption {
                text-align: center;
                font-size: 78px;
                margin-bottom: 70px;
            }
            .services {
                margin: 0 auto;
                padding-bottom: 100px;
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                gap: 22px;
                justify-content: center;
                font-size: 56px;
                :nth-child(n){
                    padding: 20px 62px;
                    border: 1px solid #fff;
                    border-radius: 100px;
                }
            }
        }
    }

    .workContainer {
        .ourWorks {
            margin-top: 200px;
            .workCaption {
                font-size: 78px;
                font-weight: 300;
            }
            .workDescription {
                // font-family: "Poiret One", sans-serif;
                font-weight: 200;
                margin-top: 20px;
                font-size: 38px;
                width: 800px;
                color: #A4A4A4;
            }

            .workCardBlock {
                margin-top: 100px;
                :nth-child(even){
                    flex-direction: row-reverse;
                }
                
                .workCard {
                    margin-bottom: 130px;
                    font-family: "Poiret One", sans-serif;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    :last-child {
                    margin-bottom: 0;
                }
                    
                    .picContainer {
                        width: 500px;
                        height: 500px;
                        .picWorkCard {
                            border-radius: 5px;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            object-position: center;
                         }
                    }
                    .cardDesc {
                        width: 800px;
                        text-align: center;
                        .cardDescCaption {
                            font-size: 56px;
                        }
                        .cardDescTitle {
                            margin-top: 35px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    .blockReview {
        .reviewCaption {
            font-size: 156px;
            text-align: center;
        }

        .reviewSlider {
            margin-top: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .reviewBlockCard {
                width: 540px;
                // height: 700px;
                border: 1px solid red;
                .reviewCard {
                    margin: 40px 40px auto 40px;
                    border: 1px solid green;
                    .reviewText {
                        font-size: 30px;
                        text-align: start;
                        line-height: 42xp;
                    }
                    .reviewAuthor {
                        margin-top: 100px;
                        display: flex;
                        font-size: 26px;
                        justify-content: start;
                        align-items: center;
                        p {
                            margin-left: 13px;
                        }
                    }
                }
            }
        }
    }

}